/*
	Ratings Stars
	(with as little code as possible)
*/

.star {
    unicode-bidi: bidi-override;
    text-align: left;
}

.star > span {
  display: inline-block;
  position: relative;
  width: 1em;
}

.yellow-star:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.transparent-star:before {
    color: transparent;
}
