body {
}

.rate {
    float: left;
    height: 22px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        line-height: 22px;
        cursor: pointer;
        font-size: 25px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
            line-height: 22px;
        }

    .rate > input:checked ~ label {
        color: #ffc700;
        line-height: 22px;
    }

/*
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
    line-height: 22px;
}

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
    line-height: 22px;
}*/

[type=radio] + label {
    display: inline-block;
    margin-left: .0rem;
    margin-right: 0rem;
    margin-bottom: 0;
    vertical-align: baseline;
    color: #c59b08;
    content: '★ ';
    line-height: 22px;
}
