@model List<ReviewProj.Models.Enterprise>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/index_style.css" type="text/css" rel="stylesheet" />

<h2 class="collection-title">Top Institutions</h2>

<div class="collections">
    @foreach (var ent in @Model)
    {
        <div class="collection-item-outer">
            <div class="collection-item">
                <h4 class="institution-title">
                    <a href="/InstitutionDetails/Index/@ent.EntId">@ent.Name</a>
                </h4>
                <!-- Picture -->
                <img src="~/Content/images/profile.jpg" />
                <div class="collection-text">
                    <p>
                        <!-- Enterprise Description -->
                        Для подорожуючих на трасах  працюють ресторани французької кухні «A la minute» – це ресторани швидкого обслуговування з кухнею що задовольнить навiть гурманiв.
                        Визначальною особливістю ресторанів  «A la minute» є сучасний інтер’єр, затишна атмосфера, швидке та приємне обслуговування. І головне – оригінальне меню з вишуканих страв за доступними цінами.
                        В основі меню «A la minute» лежать страви французької кухні, приготовлені з натуральних свіжих продуктів. Саме меню підібрано з врахуванням широкого кола смаків та потреб подорожуючих. Тут є ситні, нежирні та приготовлені на пару страви.
                    </p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    }
</div>
