@*@{
		ViewBag.Title = "About";
	}
	<h2>@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>

	<p>Use this area to provide additional information.</p>*@
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive center-block" src="~/Content/AppResources/df2ecedf2f1f43f3ccdebc4a9ea3dc82.jpg" alt="">
			</div>
			<div class="col-sm-6">
				<h2 class="section-header">Only best reviews of Lviv restaurants, shops and other places </h2>
				<p class="lead text-muted">
					<br />
					Be usefull. Share your emotions and thoughts from a visited place.
					Dynamically innovate resource-leveling customer service for state of the art customer service.
					Provide information about favourite places, interesting spots. Rate other, share your advices
					and thoughts. Make someones' trip in Lviv easier and more comfortable.

					<br />
					<br />
					<br />
					Register as private enterpreneur and create a profile for your restaurant/shop/other to promote and
					recieve honest feedbacks. Broaden your business and be open and clear for your costumers. The more true information you give,
					the more attention and visitors you wil receive.
					<br />
					<br />
					<br />
					You have ability not only to help other tourists to find their best destination, you can become a bit
					responsible for developing better and more tourist-friendly city infrostucture.

				</p>

			</div>

		</div>
	</div>
</section>
