@*@{
		ViewBag.Title = "Contact";
	}*@
<h3>@Resources.Resource.FeelFreeToContactKey</h3>
<address>
	LvivAdvisor<br />
	Ukraine, Lviv, Rudnytskogo 12 <br />
	<abbr title="Phone">@Resources.Resource.PhoneKey</abbr>
	+380322388071
</address>
<address>
	<strong>@Resources.Resource.SupportKey</strong>   <a href="mailto:Support@example.com">lvivadvisor_support@gmail.com</a><br />
	<strong>@Resources.Resource.MarketingKey</strong> <a href="mailto:Marketing@example.com">lvivadvisor_marketing@gmail.com</a>
</address>