@*@{
		ViewBag.Title = "Contact";
	}*@
<h3>Feel free to contact us in any time</h3>
<address>
	LvivAdvisor
    <br/>
    <p title="Address">Address: Ukraine, Lviv, Universytetska 1 </p>
	<p title="Phone">Phone: +380322388071</p>
</address>
<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">lvivadvisor_support@gmail.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">lvivadvisor_marketing@gmail.com</a>
</address>