@using ReviewProj.Domain.Entities
@model ReviewProj.WebUI.Models.EnterpriseListViewModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/index_style.css" type="text/css" rel="stylesheet" />

<h2 class="collection-title">Top Institutions</h2>

<div>
    <section id="search">
        <form method="get">
            <input type="text" value="@Model.SearchString" name="search" />
            <input type="submit" value="Search" />
        </form>
    </section>
</div>

<div class="collections">
    @foreach (Enterprise ent in Model.Enterprises)
    {
        <div class="collection-item-outer">
            <div class="collection-item">
                <h4 class="institution-title">
                    <a href="/InstitutionDetails/Index/@ent.EntId">@ent.Name</a>
                </h4>

                <!-- Picture -->
                @try
                {
                    Resource res = ent.Resources.First(r => r.Type == ResourceType.MainImage);
                    <img height="120" src="~/Content/UserResources/@res.DataPath" /> 
                }
                catch
                {
                    <img height="120" src="~/Content/AppResources/no_image_available.png"/>
                }

                <div class="collection-text">
                    <p>
                        @ent.Description
                    </p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
        }

    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>
