@using ReviewProj.Domain.Entities
@model IEnumerable<Enterprise>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/index_style.css" type="text/css" rel="stylesheet" />

<h2 class="collection-title">Top Institutions</h2>

<div class="collections">
    @foreach (Enterprise ent in @Model)
    {
        <div class="collection-item-outer">
            <div class="collection-item">
                <h4 class="institution-title">
                    <a href="/InstitutionDetails/Index/@ent.EntId">@ent.Name</a>
                </h4>

                <!-- Picture -->
                @try
                {
                    Resource res = ent.Resources.First();
                    throw new Exception();
                    //<img height="120" src="@imgSrc" />
                }
                catch
                {
                    <img height="120" src="~/Content/Resources/no_image_available.png"/>
                }

                <div class="collection-text">
                    <p>
                        @ent.Description
                    </p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    }
</div>
